html{
    border-style:solid;
    border-width: 2px;
}


body{
    background-image: url(papier.gif);

}
.tresc {
    text-indent: 16px;
    text-align: justify;
    background-color: transparent;
    padding: 10px;
}